body {
  background: #ffffff;;
}

ul {
  padding: 0;
  margin: 0;
}

.clearfix:after {
  content: " ";
  display: both;
  visibility: hidden;
  clear: both;
  height: 0;

}

.title {
  margin: 30px;
  font-size: 25px;
  text-transformer :uppercase;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 2px solid transparent;
  border-right: 11px solid #f9f9f9;
  border-bottom: 11px solid transparent;
  position: absolute;
  top: 11px;
  left: -11px;
}

.triangle-up {
  display: none;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #184b72;
  position: absolute;
  top: 65px;
  left: 20px;
}

.property-price {
  float: left;
  display: inline-block;
  font-size: 14px;
  background-color: #ececec;
  padding: 20px 10px;
  width: 50%;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.padding0 {
  padding: 0;

}

// this wont work until we are able to compile this SCSS to css
// come to my office and I will set up scout for you. :)
// <3

.container-fluid {
  background-color: #fff;
  /* border: transparent; */
}

.header {
  border-bottom: 1px solid #eee;
  position: relative;

  .logo {
    float: left;
    padding-top: 10px;
  }

  nav.navbar.navbar-default {
    border-color: #fff;
    margin-bottom: 0;
  }

  .navbar {

    ul {
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        font-size: 15px;
        a {
          padding: 25px;
        }
      }
    }

    .calling-desc {
      font-size: 20px;
      color: #ccc;
      border-left: 1px solid #ddd;
      padding-left: 10px;
      a {
        padding: 0;
        text-decoration: none;
        font-size: 18px;
        color: #2d313f;
      }
    }

    ul.dropdown-menu {
      position: absolute;
      top: 72px;
      /* bottom: 4px; */
      z-index: 3;
      border-top: 2px solid red;

      li {
        border-bottom: 1px solid #ccc;
        width: 100%;
        a {
          padding: 10px 25px;
        }
      }

      /*
            a:hover{
              background: #fff;
            }*/

    }

    li:hover .triangle-up {
      display: block;
    }

    li:hover ul.dropdown-menu {
      display: block;
      border-top-color: #184b72;
      transition: all 0.5s;
    }

    li.active {

      a {
        background-color: #fff;
      }

      a:hover {
        background-color: #fff;
      }

    }

  }

}

.banner {
  background: url(../images/banner-2.jpg);
  height: 749;
  background-size: cover;
}

.our-services {
  background: #384653;
  background-size: cover;
  height: 500px;
  opacity: 1px;
  padding-top: 100px;

}

.big-circle {
  border-radius: 50%;
  border: 1px solid;
  width: 100px;
  height: 100px;
  background: #384653;
  max-width: 35%;
  margin: 0 auto;
}

.small-circle {
  border-radius: 50%;
  border: 1px solid;
  width: 70px;
  height: 70px;
  background: #425362;
  margin: 14px;

}

i.fa.fa-home, i.fa.fa-briefcase, i.fa.fa-star {
  text-align: center;
  lione: 20px;
  line-height: 60px;
  text-align: middle;
  display: block;
  font-size: 30px;
  color: #fff;
}

.text-block {
  text-align: center;
  margin: 40px 0;
  color: #fff;
  letter-spacing: 1.5;
  font-size: 15px;

  a {
    color: #fff;
    border-bottom-style: dotted;
  }

  a:hover {
    color: #fff;
    border-bottom-style: none;
  }

}

.text-block h5 {
  font-size: 22px;
  font-weight: normal
}

.recent-properties img {
  max-width: 100%;

  .property-price{
    paddimg:10px;
  }

}

.price-wrapper {
  width: 100%;
}

.property-price.large {
  max-width: 500px;
  width: 50%;
  padding: 25px;
}

.property-action.last {
  padding: 25px;
}

.property-action {
  float: left;
  display: inline;
  font-size: 14px;
  background-color: #f0e797;
  color: #cdc15a;
  padding: 20px 26px;
  width: 50%;
}

.property-category {
  background-color: #f9f9f9;
  font-size: 20px;
  min-height: 177px;

  .property-title {
    padding: 5px 0 0 15px;
  }

  p {
    font-size: 13px;
  }

  .property-detail {
    padding: 18px;
  }
}

.property-summary {
  min-height: 50px;



  .property-action a {
    color: #cdc15a;
    width: 50%;
  }
}

.g-search-content {
  margin: 20px 0;
  padding-top: 50px;
  background: rgba(24, 75, 114, 0.95);
}

.gsubmit button {
  padding: 14px;
  font-size: 24px;
  display: block;
  box-sizing: border-box;
  max-width: 200px;
  border-radius: 9px;
  border: none;
  background-color: #f0e797;
  color: #cdc15a;
}

.row.g-search-box {
  background-color: #fff;
  padding: 50px 0;
}

.gsubmit button:hover {
  background: #184b72;
  color: #fff;
}

.container.wrapper {
  border-bottom: 2px solid #cdc15a;
}

.featured-img {
  background-image: url(../images/best-featured.jpg);
  height: 450px;
  background-position: 0 0;
}

.featured-right-details {
  background-color: #f9f9f9;
  padding: 20px;
}

.property-excerpt {
  padding: 0px 0;
  line-height: 23px;
  letter-spacing: 1.5;
}

.property-detail ul li {
  float: left;
  padding: 0 20px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.more-info-box {
  border: 1px solid #eee;
  padding: 25px 20px;
}

.more-info-box .i.fa.fa-arrow-up,
.more-info-box .i.fa.fa-arrow-down,
.more-info-box .i.fa.fa-arrow-right {
  float: left;
  padding-right: 10px;
  color: #75b08a;
}

.more-info-box span {
  padding: 0 10px;
}

.btn-wrapper {
  width: 100px;
  margin: 30px auto;
  text-align: center;
  display: block;

}

input[type="submit"] {
  background-color: #2da4cd;
  padding: 20px;
  color: #fff;
  border: none;
  box-shadow: 0 2px 0 #2da4cd;
  top: 3px;
  font-size: 18px;
}

.footer {
  background: #212527;
  padding: 30px 20px;
  color: #aeaeae;
}

//

.sales, .rent {
  margin-bottom: 100px;

  .sales-right-sidebar {
    margin: 30px;

    .icon-list {
      float: left;

      li {
        float: left;
        padding: 0 10px;
      }

      .sub-menu {
        position: relative;
        display: none;

        &:hover {
          display: block;
        }
        li {
          padding: 5px 8px;
          background-color: #0b2133;
          color: #fff;
          border-radius: 5px;
          font-size: 12px;
        }
      }
    }

    .icon-list ul li i.fa.fa-th-large,
    .icon-list ul li i.fa.fa-list-ul {
      font-size: 25px;
      margin-bottom: 10px;
    }

    select.form-control {
      float: right;
      width: 50%;
    }

  }

  .img-wrapper {

    img {
      position: relative;

      span {
        background-color: #75b08a;
        padding: 10px;
        color: #fff;
        text-transform: uppercase;
        position: absolute;
      }
    }
  }

}

.property-wrap {
  .sub-title {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 20px;
  }
  .more-details {
    margin-bottom: 2px;
    ul {
      border: 1px solid #ccc;
      li {
        float: left;
        padding: 20px 35px;
        border-right: 1px solid #ccc;
        font-size: 15px;

        .last {
          border-right: none;
        }
        i.fa {
          padding-right: 10px;
        }
      }
    }
  }
}

//
.rent {

  .row.rent-wrapper {
    margin-top: 20px;
  }
}

.vip {
  .vip-offer-item {
    transition: all 0.3s;

    &:hover {
      transform: scale(0.98);
    }
    p:hover{
      color:#00f ;
    }

  }
  .row.pd-top {
    margin-bottom: 10px;
  }

  .vip-wrapper {
    background-color: #f5f5f5;
    padding: 20px 0;
  }

  .vip-left-img {
    float: left;
    width: 48%;
  }

  .vip-rihjt-text {
    float: left;
    width: 50%;
    min-height: 328px;
    background-color: #fff;
    padding: 10px 20px;

    p {
      line-height: 25px;
    }
  }
}


//contact page starts from here//
.contact-info-wrapper {
  background: #f8f8f8;
  padding: 10px 15px;
  font-size: 12px;
  line-height: 30px;
  h5{
    font-size: 20px;
  }

  strong {
    float: right;
    overflow: hidden;
    display: block;
    width: 60%;
  }
  b {
    float: left;
    width: 30%;
    margin-right: 20px;
  }
}

//form css starts from here//
.contact-wrapper {

  .title {
    font-size: 50px;
    padding-bottom: 70px;
    border-bottom: 1px solid #ccc;

  }
  .noo-text-block {
    h4 {
      font-weight: 300;
      font-size: 24px;
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 12px;
      letter-spacing: 1;
    }
  }
  .contact-sidebar {
    background-color: #fff;
    border-left: 1px solid #ddd;

    h3 {
      padding-left: 35px;
      margin-bottom: 30px;
    }

    .sidebar-wrapper {
      background-color: #f9f9f9;
      padding: 35px;
      box-sizing: border-box;
      text-align: center;
      margin: 0 30px;
      .btn-default {
        background: #ededed;
        color: #94a2a7;
        padding: 40px 0;

        &:hover {
          color: #fff;
          background: #184b72;
        }
      }
      select.form-control {
        margin: 20px 0;
        text-align: center;
        font-size: 15px;;
      }
    }

    .recent-properties {

      .title {
        border-bottom: none;
        font-size: 20px;
        margin: 0;
        padding: 30px  0 5px 60px;
      }

      .recent-wrapper {
        padding: 35px;
        box-sizing: border-box;
        text-align: center;
        margin: 0 30px;

        .row.recent-block {
          margin-bottom: 20px;
        }
        h4 {
          margin: 5px 0;
          font-size: 12px;
        }
        a {
          text-decoration: none;
          font-size: 15px;
        }
      }
    }

  }

  label {
    margin: 10px 0;
  }
  input#name, input#email,
  input#subject, input#text {
    padding: 25px;
    margin: 10px 0;
  }

  textarea.form-control{
    min-height: 200px;
  }

  .btn-default {
    width: 100%;
    background: #f0e797;
    color: #c1b547;
    padding: 10px;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;

    &:hover {
      background: #184b72;
      color: #fff;
    }
  }
}

//form css Ends from here//

//contact page Ends from here//


